.about {
  width: 100%;
  min-height: 100vh;

  padding: 120px 8%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 80px;
  flex-wrap: wrap;

  background:
  linear-gradient(
    135deg,
    #07152d 0%,
    #0f172a 100%
  );
}

/* LEFT SIDE */

.about-image {
  flex: 1;
  min-width: 320px;

  display: flex;
  justify-content: center;
}

.about-image img {
  width: 100%;
  max-width: 420px;

  border-radius: 25px;

  object-fit: cover;

  box-shadow:
    0 0 40px rgba(56,189,248,0.12);
}

/* RIGHT SIDE */

.about-content {
  flex: 1;
  min-width: 320px;
  max-width: 650px;
}

.about-subtitle {
  color: #38bdf8;
  font-size: 20px;
  font-weight: 600;

  margin-bottom: 15px;
}

.about-title {
  color: white;
  font-size: 56px;
  line-height: 1.2;

  margin-bottom: 25px;
}

.about-description {
  color: #94a3b8;

  font-size: 18px;
  line-height: 1.9;

  margin-bottom: 40px;
}

/* INFO ROWS */

.about-info {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.info-row {
  display: flex;
  gap: 20px;
}

.info-row span {
  min-width: 140px;

  color: #38bdf8;
  font-weight: 600;
}

.info-row p {
  color: #e2e8f0;
}

/* PROJECTS */

.about-projects {
  margin-top: 40px;
}

.about-projects h3 {
  color: #38bdf8;
  font-size: 42px;
}

.about-projects p {
  color: white;
  margin-top: 8px;
}

/* BUTTON */

.download-btn {
  margin-top: 35px;

  padding: 14px 30px;

  border: none;
  border-radius: 12px;

  background:
  linear-gradient(
    135deg,
    #38bdf8,
    #0ea5e9
  );

  color: #0f172a;

  font-size: 16px;
  font-weight: 700;

  cursor: pointer;

  transition: 0.3s ease;

  box-shadow:
    0 10px 30px rgba(56,189,248,0.2);
}

.download-btn:hover {
  transform: translateY(-4px);
}

/* RESPONSIVE */

@media (max-width: 992px) {

  .about {
    text-align: center;
    gap: 60px;
  }

  .about-title {
    font-size: 42px;
  }

  .info-row {
    flex-direction: column;
    gap: 8px;
  }

  .info-row span {
    min-width: auto;
  }
}

@media (max-width: 600px) {

  .about {
    padding: 100px 6%;
  }

  .about-title {
    font-size: 34px;
  }

  .about-description {
    font-size: 16px;
  }

  .about-image img {
    max-width: 320px;
  }
}