.hero {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 80px;
  flex-wrap: wrap;

  padding: 120px 8%;

  position: relative;
  overflow: hidden;

  background: linear-gradient(
    135deg,
    #081b3a 0%,
    #07152d 40%,
    #0f172a 100%
  );
}

/* BLUR EFFECTS */

.blur {
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
  z-index: 0;
}

.blur-1 {
  width: 300px;
  height: 300px;
  background: #38bdf8;
  top: 100px;
  left: -100px;
  opacity: 0.2;
}

.blur-2 {
  width: 350px;
  height: 350px;
  background: #7c3aed;
  bottom: 0;
  right: 0;
  opacity: 0.2;
}

/* LEFT SIDE */

.hero-content {
  flex: 1;
  min-width: 320px;
  max-width: 650px;

  z-index: 1;
}

.hero-subtitle {
  color: #38bdf8;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}

.hero-title {
  font-size: 85px;
  line-height: 1.1;
  font-weight: 700;
  color: white;
}

.hero-title span {
  color: #38bdf8;
}

.hero-role {
  font-size: 42px;
  color: #cbd5e1;
  margin-top: 20px;
}

.hero-description {
  margin-top: 30px;
  color: #94a3b8;
  font-size: 20px;
  line-height: 1.8;
}

/* BUTTONS */

.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.hire-btn,
.project-btn {
  padding: 15px 32px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s ease;
}

.hire-btn {
  background: linear-gradient(
    135deg,
    #38bdf8,
    #0ea5e9
  );

  color: #0f172a;
  border: none;

  box-shadow: 0 10px 30px rgba(56, 189, 248, 0.3);
}

.hire-btn:hover {
  transform: translateY(-4px);
}

.project-btn {
  background: transparent;
  color: #38bdf8;

  border: 2px solid #38bdf8;
}

.project-btn:hover {
  background: #38bdf8;
  color: #0f172a;

  transform: translateY(-4px);
}

/* RIGHT SIDE */

.hero-image {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 320px;

  z-index: 1;
}

.image-card {
  width: 400px;
  height: 500px;

  background: rgba(255, 255, 255, 0.05);

  border: 1px solid rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(20px);

  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow:
    0 0 40px rgba(56, 189, 248, 0.15);
}

.image-card img {
  width: 90%;
  height: 90%;
  object-fit: cover;

  border-radius: 20px;
}

/* RESPONSIVE */

@media (max-width: 992px) {

  .hero {
    flex-direction: column-reverse;
    text-align: center;

    padding-top: 150px;
    gap: 60px;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-title {
    font-size: 60px;
  }

  .hero-role {
    font-size: 32px;
  }

  .hero-description {
    font-size: 18px;
  }

  .hero-buttons {
    justify-content: center;
  }

  .image-card img {
  height: 100%;
  width: auto;

  object-fit: contain;

  transform: scale(1.15);

  transition: 0.3s ease;

  filter: drop-shadow(
    0 0 30px rgba(56,189,248,0.35)
  );
}
}