.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    background: rgba(15, 23, 42, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar{
    max-width: 1400px;
    height: 75px;
    margin: auto;
    background-color: #111827;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
    height: 50px;
    width: auto;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #e2e8f0;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease;
    position: relative;
}

.nav-links a:hover {
    color: #38bdf8;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -6px;
  background-color: #38bdf8;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.resume-btn {
  padding: 10px 22px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  color: #0f172a;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  margin-right: 10px;
}

.resume-btn:hover {
  transform: translateY(-2px);
  background: #0ea5e9;
}